@model WebApplication1.Models.User
<div style="height: 80vh" class="d-flex flex-column align-items-center justify-content-center ">
    <h2>Information About Me</h2>
    <div class="d-flex justify-content-between px-4 py-5 " style="width: 1200px; border-block: 1px solid #ccc">
        <div class="d-flex flex-column w-50">
            <div class="d-flex flex-column">
                <div>
                    <label class="fw-bold">First name</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control mw-100" })
                </div>
                <div>
                    <label class="fw-bold">Last name</label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                </div>
                <div>
                    <label class="fw-bold">Address</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
                <div>
                    <label class="fw-bold">Work position:</label>
                    @Html.TextBoxFor(model => model.WorkPosition, new { @class = "form-control" })
                </div>
                <div>
                    <label class="fw-bold">Date of Birth:</label>
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control" })
                </div>
                <div class="d-flex justify-content-between">
                    <div class="w-50">
                        <label class="fw-bold">Oib</label>
                        @Html.TextBoxFor(model => model.OIB, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>




        @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "d-flex flex-column w-25" }))
        {
            @Html.AntiForgeryToken()

            <div class="d-flex flex-column" style="height: 300px">
                <div>
                    <h3>Change password</h3>
                    <div class="mb-2">
                        <label class="fw-bold">New Password</label>
                        <input type="password" name="password" id="newPassword" class="form-control" />
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold">Repeat password</label>
                        <input type="password" name="confirmPassword" id="rptPassword" class="form-control" />
                    </div>
                    
                </div>

                <button type="submit" class="mt-4 align-self-end btn btn-outline-dark">Change password</button>

            </div>

        }

    </div>

</div>
<div class="d-flex w-50 m-auto">
    @Html.ActionLink("Add new Employee", "New", "Admin", null, new { @class = "btn btn-outline-warning w-100" })
</div>
